.sorry-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--color-black);

    &__container {}

    // .sorry-section__inner

    &__inner {
        display: flex;
        align-items: center;
        gap: 10%;
        flex-direction: column;
    }

    // .sorry-section__title

    &__title {
        padding: 0;
        margin: 0;
        color: var(--color-white);
    }

    // .sorry-section__subtitle

    &__subtitle {
        margin: 0;
        padding: 0;
        color: var(--color-white);
        font-size: 22px;
        line-height: 1.4;
        text-align: center;
    }
}
