@font-face {
    font-family: 'Belarus';
    src: url(/assets/fonts/belarus/Belarus-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/roboto/Roboto-Light.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/roboto/Roboto-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/roboto/Roboto-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/roboto/Roboto-Bold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url(/assets/fonts/akrobat/Akrobat-Light.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url(/assets/fonts/akrobat/Akrobat-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url(/assets/fonts/akrobat/Akrobat-SemiBold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: url(/assets/fonts/akrobat/Akrobat-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
}