:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-accent: #ff7f2a;
    --font-size: 1rem;
    --font-roboto-serif: 'Roboto', sans-serif;
    --font-belarus-serif: 'Belarus', sans-serif; 
    --font-akrobat-serif: 'Akrobat', sans-serif;
}